body {
  background-color: black;
  margin: 0;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  color: white;
  font-size: 5rem;
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  position: relative; /* Add relative positioning to the h1 element */
}

.overlay {
  position: relative; /* Add relative positioning to the span element */
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: red;
  opacity: 0.7; /* You can adjust the opacity as needed */
  z-index: -1; /* Ensure it's below the text */
  animation: expandWidth 1.5s ease-in-out forwards; /* Define the animation */
}

@keyframes expandWidth {
  0%, 100% {
    width: 0%; /* Start and end with 0% width */
    left: 0%; /* Start and end with left at 0% */
  }

  50% {
    width: 100%; /* At the midpoint, have 100% width */
    left: 0%; /* At the midpoint, keep left at 0% */
  }

  100% {
    width: 0%; /* End with 0% width */
    left: 100%; /* End with left at 100% */
  }
}
